body{
    padding: 25px;
    background-color: pink;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
 }

 .topnav {
   background-color: lightblue;
   overflow: hidden; 
   width: 100%; 
   display: flex; 
   justify-content: center; 
 }
 

 
 .title {
     color: #5C6AC4;
 }
 
 p {
   color: red;
 }
 