body{
    padding: 25px;
    background-color: pink;
 }
 
 body {
   margin: 0;
   padding: 20;
   font-family: Arial, sans-serif;
 }
 body {
  text-align: center;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;

}

 .topnav {
   background-color: lightblue;
   overflow: hidden; 
   width: 100%; 
   display: flex; 
   justify-content: center; 
 }

 .topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
}
 

 
 .title {
     color: #5C6AC4;
 }
 
 p {
   color: red;
 }
 